/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 10px;
    padding: 10px;
    background-color: #f8f8f8;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    color: #1a1a1a;
}

/* Encabezados */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
}

/* Párrafos */
p {
    margin-bottom: 20px;
}

/* Enlaces */
a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Listas */
ul, ol {
    margin-bottom: 20px;
}

/* Código */
code {
    background-color: #f4f4f4;
    padding: 4px 8px;
    border: 1px solid #ddd;
}

/* Imágenes */
img {
    max-width: 100%;
    height: auto;
}

/* Secciones */
section {
    margin-bottom: 30px;
}

/* Contenedor Principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;

}

/* Favicon */
.link-favicon {
    display: block;
    margin: 20px 0;
}

/* ResponsiveFlex y ResponsiveFloat */
.responsive-container {
    max-width: 100%;
    overflow: hidden;
}

.responsive-container img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

/* Float para Columnas */
.float-container {
    overflow: hidden;
}

.float-column {
    width: 48%;
    margin-right: 2%;
    float: left;
}

/* InfoExtra */
.info-extra {
    margin-top: 30px;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

/* Estilos de FontAwesome */
.icon {
    margin-right: 5px;
}

/* Estilos de código preformateado */
pre {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ddd;
    overflow-x: auto;
    font-size: 14px;
}


